@using FHIR_UI.Models
@model FHIR_UI.Models.CommonViewModel
@{
    ViewData["Title"] = "Search";
}

<html>
<head>
    <title>тестик</title>
</head>
<h2>
    Search
</h2>
<body >
    <center>
        <table width="1000px">
            <tr>
                <td colspan="2"  title="setType">
                    <p>Choose the type of the resource to see all resources of this type</p>


                    <form action="~/search" method="post">
                        <fieldset>
                            @Html.LabelFor(m => m.SearchRes.Type)
                            @Html.DropDownListFor(m => m.SearchRes.Type,
                                new SelectList(Enum.GetValues(typeof(TypeName))),
                                "Select Type")
                            @Html.ValidationMessageFor(m => m.SearchRes.Type)
                        </fieldset>
                        <input type="submit" value="Show" />
                    </form>
                </td>
                <a href="~/Views/Search/Index.cshtml">~/Views/Search/Index.cshtml</a>
            </tr>
            <tr height="500px">
                <td bgcolor="#EFEEFF" width="20px" valign="top">
                    @foreach (var v in Model.Types.TypesAsArray)
                    {
                        <p> <a href="Search?type=@v.ToString()">* @v.ToString()</a> </p>
                     }
                </td>
                <td bgcolor="#F8FEFE" valign="top">

                    <form action="~/search" method="get">
                        @for (int i = 0; i < Model.SearchRes.pagesAmount; ++i)
                        {
                            <a href="Search/Woohoo?type=@Model.SearchRes.Type&page=@(i+1)">@(i + 1)</a>
                        }
</form>
                        @{

                        }if (Model.SearchRes.Type != null)
                        {
                        <h2>type @Model.SearchRes.Type</h2>
                        <p> Found @Model.SearchRes._amount items</p>
                        <table border="1">
                            <tr>
                                <th>ID</th>
                                <th>Action</th>
                            </tr>
                            @foreach (String r in Model.SearchRes.result)
                            {
                                <tr>
                                    <th> <p>@r </p> </th>
                                    <th>
                                        <a href="Search/Read?type=@Model.SearchRes.Type&id=@r">Read</a>
                                        <a href="Search/Edit?type=@Model.SearchRes.Type&id=@r">Edit</a>
                                    </th>
                                </tr>
                            }
                        </table>
                        }
                        else
                        {
                        <p>Type is not set</p>
                        }
                        }
</td>
            </tr>
        </table>
    </center>
</body>
</html>

